<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Despesas IBVU</title>

  <link rel="icon" href="../images/logo-icon.png" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/animations.css" />
  <link rel="stylesheet" href="../css/despesas.css" />
  <link rel="stylesheet" href="../css/form.css" />
  <link rel="stylesheet" href="../css/database.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet" />
</head>

<body>

  <div id="page-landing">

    <div class="grid-container">

      <div class="grid-aside-header">
        <div class="logo">
          <h1 class="animate-op"><span>S</span>ouza <span>P</span>rado</h1>
          <h2 class="animate-op">Contabilidade</h2>
        </div>
      </div>

      <div class="grid-header animate-op animate">
        Despesas IBVU - Relatório Mensal
      </div>

      <div class="grid-aside">
        <a class="menu1 animate-op animate" web-link="/form" web-destiny=".destiny">01 - Despesas</a>
        <a class="menu2 animate-op animate" web-link="/cadastro" web-destiny=".destiny">02 - Cadastrar nome</a>
        <a class="menu2 animate-op animate" web-link="/relatorios" web-destiny=".destiny">03 - Relatórios</a>
      </div>

      <div class="grid-content animate-op animate">
        <div class="destiny"></div>
      </div>

      <div class="grid-footer">
        <p>Desenvolvido por <strong>Allan Prado</strong></p>
      </div>

    </div>

  </div>

  <script src="../scripts/spaSettings.js"></script>

</body>

</html>