<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Despesas IBVU</title>

  <link rel="icon" href="../images/logo-icon.png" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/animations.css" />
  <link rel="stylesheet" href="../css/index.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="page-landing">
    <header>
      <div class="page-header">
        <h1 class="animate-op"><span>S</span>ouza <span>P</span>rado</h1>
        <h2 class="animate-op">Contabilidade</h2>
      </div>
    </header>

    <main>
      <section>
        <p class="animate-op">Seja <span>bem-vindo</span>!</p>
        <a href="./despesas" class="button animate-op">Iniciar</a>
      </section>
    </main>
  </div>
</body>

</html>